.idea/
build/
*.egg-info
eggs
*.pyc
*.pyo
.DS_Store
virtualenv
media/images
media/tickets
media/snapshots
media/ticket.png
resources/ticket.css
resources/ticket.html
db.fs
db.fs.index
db.fs.lock
db.fs.tmp
local.db
db.index
db.json
db.lock
db.tmp
zeosocket
ghostdriver.log
celerybeat-schedule.db
.cache
.venv